<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Atualizar Consulta</title>
</head>
<body>
    <div class="container">
        <h2>Atualizar Consulta</h2>
        <form action="/atualizar_consulta" method="POST">
            <label for="cpf">CPF do Paciente:</label>
            <input type="text" id="cpf" name="cpf" required>

            <label for="data_consulta">Data da Consulta:</label>
            <input type="date" id="data_consulta" name="data_consulta" required>

            <label for="horario">Horário Atual:</label>
            <input type="time" id="horario" name="horario" required>

            <label for="novo_horario">Novo Horário:</label>
            <input type="time" id="novo_horario" name="novo_horario" required>

            <label for="novo_medico">Novo Médico:</label>
            <input type="text" id="novo_medico" name="novo_medico" required>

            <button type="submit" class="btn">Atualizar</button>
        </form>
    </div>
</body>
</html>
