<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Sistema de Consultas Médicas</title>
</head>
<body>
    <div class="container">
        <h1>Sistema de Consultas Médicas</h1>
        <div class="menu">
            <a href="/cadastrar_paciente" class="btn">Cadastrar Paciente</a>
            <a href="/agendar_consulta" class="btn">Agendar Consulta</a>
            <a href="/atualizar_consulta" class="btn">Atualizar Consulta</a>
            <a href="/cancelar_consulta" class="btn">Cancelar Consulta</a>
        </div>
    </div>
</body>
</html>
